<h2 class="text-light">All Orders</h2>
<h2>All Orders</h2>
<% @orders.each do |order| %>
  <p>Name: <%= order.name %></p>
  <p>Email: <%= order.email %></p>
  <p>Order Items: </p>
  <ul>
    <% order.order_items.each do |item| %>
    <li><%= item.quantity %> x <%= item.product.title %></li>
    <% end %>
  </ul>
<% end %>
