<div class="container-fluid w-75 shadow mt-5 rounded border p-4 bg-dark">  
  <h2 class="text-center text-light"><b>Welcome To The EMS-Project</b></h2>
  <div class="text-light text-center">
    <% if user_signed_in? %>
      <%= current_user.email %>
      <% if current_user.admin? %>
        <h4>You're in Admin Panel</h4>
      <% else %>
        <h4>You're in User Panel</h4>
      <% end %>
    <% end %>
  </div>
</div>
